
/* pc / mobile */
@media screen and (max-width: 768px){
    .pc {
        display: none;
    }
    .mobile {
        display: block;
    }
}
@media screen and (min-width: 769px) {
    .mobile {
        display: none;
    }   
    .pc {
        display: block;
    }
}

.pc .content {
    background-color: #e8ded4;
}

.mobile .content {
    background-color: #e8ded4;
}


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}


a:hover {
  text-decoration: none;
}

/* pc */

.pc .content .container {
  padding: 0;
  width: 60%;
  margin:auto;
  background-color: #efefef;
  border-radius: 15px;
  
  box-shadow: 0px 0px 10px 0px rgba(158, 158, 158, .5);
}

.pc .content .container .content {
  width: 92%;
  margin: auto;
  background-color: #efefef;
}

/*
.pc .content  .welcome {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
*/

.pc .content .container .content .t1 {
  font-size: 30px;
  font-weight: bold;
}

.pc .content  .container .content .t1s {
  font-size: 17px;
}

.pc .content  .container .content .t1hr {
  border-top: 3px solid #70abef;
}

.pc .content  .container .content .t2 {
  font-size: 25px;
  font-weight: bold;
}

.pc .content  .container .content .t3 {
  font-size: 20px;
  font-weight: bold;
  color: #4d4d4d;
}

.pc .content  .container .content .td {
  padding: 10px;
}






.pc .content  .container .content .property-site {
  background-color: #3dd2ff;
  padding-left: 15px;
  padding-right: 15px;

}

.pc .content  .container .content .property-yt {
  background-color: #ff7070;
  margin: auto;
 padding-left: 15px;
  padding-right: 15px;

}

.about-table {
    width: 100%;
    border-collapse: collapse;
}
.about-table th {
  width : 25%;
}
.about-table th, .about-table td {
    border: 1px solid #999;
    padding: 8px;
    text-align: left;
}

/* mobile */

/* menu by ChatGPT-4 */

.menu {
  position: fixed;
  left: 0;
  bottom: 0;
  background: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 0px 0px 7px rgba(158, 158, 158, .5);
}

.menu li {
  padding: 5px;
  list-style: none;
  text-align: center;
  flex-grow: 1;
}

.menu li a {
  text-decoration: none;
  color: #5f6368;
}

.menu li a .name {
  display: block;
  font-size: 15px;
}

.menu li a .material-symbols-outlined {
  width: 20px;
  height: 20px;
}

.mobile .content .container {
  padding: 0px;
  width: 91%;
  margin: auto;
  border-radius: 15px;
  
  background-color: #efefef;
  
  box-shadow: 0px 0px 10px 0px rgba(158, 158, 158, .5);
}

.mobile .content .container .content {
  width: 92%;
  margin: auto;
  background-color: #efefef;
}

/*
.mobile .welcome {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
*/

.mobile .content .container .content .t1 {
  font-size: 35px;
  font-weight: bold;
}

.mobile .content  .container .content .t1s {
  font-size: 20px;
}

.mobile .content  .container .content .t1hr {
  border-top: 3px solid #70abef;
}

.mobile .content  .container .content .t2 {
  font-size: 25px;
  font-weight: bold;
}

.mobile .content  .container .content .t3 {
  font-size: 15px;
  font-weight: bold;
  color: #4d4d4d;
}

.mobile .content  .container .content td {
  padding: 10px;
  font-size: 9px;
}

.mobile .content .container .content th {
  font-size: 9px;
  font-weight: bold;
}

